@charset "UTF-8";

body {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

div {
    text-align: center;
    margin: 30px;
    background-color: white;
    padding: ;
    border-top: 1px solid #d5d5d5;
}

h1 {
    font-size: 30px;
    margin-top: 0;
}

img {
    width: 190px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 15px;
    line-height: 28px;
    margin: 15px auto 30px auto;
    width: 930px;
}

h3 {
    font-size: 18px;
    font-family: tahoma;
}

a {
    background-color: rgb(80, 177, 80);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    
}

span {
    font-weight: bold;
}
