@charset "UTF-8";

body {
    background-color: #F4F0E5;
    margin: 0px 180px;
}

.cabecalho {
    text-align: center;
}

.cabecalho img {
    height: 200px;
}

.cabecalho a {
    padding: 10px;
    font-size: 18px;
    color: #69482A;
}

.secao-sobre {
    border-top: 1px solid #DE8E37;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.secao-sobre .sobre-destaque {
    color: #DE8E37; /*falta alterar a fonte*/
}

.secao-sobre img {
    width: 700px;
   
}

.secao-produtos {
    background-color: #DE8E37;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 30px 0px;
    line-height: 30px;
}

.secao-produtos img {
    width: 400px;
}

.secao-produtos h4 {
    font-size: 20px;
}

.secao-contato {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.secao-contato span {
    font-weight: bold;
}

.secao-contato a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}