@charset "UTF-8";

body {
    background-color: #F4F0E5;
    margin: 0px 180px;
}

.cabecalho {
    text-align: center;
}

.cabecalho img {
    height: 200px;
}

.cabecalho a {
    padding: 10px;
    font-size: 20px;
    color: #69482A;
}

.secao-sobre {
    border-top: 1px solid #DE8E37;
    text-align: center;
}

.secao-sobre .sobre-destaque {
    color: #DE8E37; /*falta alterar a fonte*/
}

.secao-sobre img {
    width: 700px;
}