@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.banner {
    height: 100vh;
    background-image: url(imagens/parallax-imagem1.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.lista li div {
    width: 70%;
    height: 1px;
    background-color: #acacac;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50%;
}

.lista li span {
    position: absolute;
    top: 0;
    right: 0;
}

